!!!
html
  head
    meta(charset="utf-8")
    title Description du cours
    script(src="javascripts/Script.js", type="application/javascript")
  body
    h1 Liste des cours
    table
      thead
        tr
          th Info
          th Programme
          th Sigle
          th Cours
      tbody        
        each cours in data
          tr
            td #{cours.info}
            td #{cours.prog}
            td #{cours.sigle}
            td #{cours.groupe}
            Reload(#{cours.sigle}, #{cours.prog})